body {
  margin: 0%;
  padding: 0%; 
  background-color: #252c33;
}

.array-bar {
  margin: 0.2%;
  display: inline-block;
  background-color:turquoise;
  padding-top: 20px;
  color: transparent;
}


@media (max-width: 800px) {
  .array-bar {
    margin: 0.1%;
  }
}
